USE [master]
GO
/****** Object:  Database [user30]    Script Date: 29.09.2023 14:38:51 ******/
CREATE DATABASE [user30]
GO
USE [user30]
GO
/****** Object:  Table [dbo].[Activity]    Script Date: 29.09.2023 14:38:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Activity](
	[EventsId] [int] NOT NULL,
	[Title] [nvarchar](150) NOT NULL,
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Day] [tinyint] NOT NULL,
	[StartTime] [time](0) NOT NULL,
	[ModeratorId] [int] NOT NULL,
 CONSTRAINT [PK_Activity] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AdjucatorActivity]    Script Date: 29.09.2023 14:38:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AdjucatorActivity](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ActivityId] [int] NOT NULL,
	[AdjudicatorId] [int] NOT NULL,
 CONSTRAINT [PK_AdjucatorActivity] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Adjudicator]    Script Date: 29.09.2023 14:38:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Adjudicator](
	[Surname] [nvarchar](50) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[Patronymic] [nvarchar](50) NULL,
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[GenderId] [int] NOT NULL,
	[Email] [varchar](150) NOT NULL,
	[DateOfBirth] [date] NOT NULL,
	[CountryId] [int] NOT NULL,
	[PhoneNumber] [varchar](16) NOT NULL,
	[DirectionId] [int] NOT NULL,
	[Password] [nvarchar](50) NOT NULL,
	[Photo] [nvarchar](150) NULL,
 CONSTRAINT [PK_Adjudicator] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[City]    Script Date: 29.09.2023 14:38:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[City](
	[Title] [nvarchar](100) NOT NULL,
	[Id] [int] IDENTITY(1,1) NOT NULL,
 CONSTRAINT [PK_City] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Country]    Script Date: 29.09.2023 14:38:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Country](
	[Id] [int] NOT NULL,
	[RussianTitle] [nvarchar](100) NOT NULL,
	[EnglishTitle] [varchar](100) NOT NULL,
	[LetterCode] [varchar](2) NOT NULL,
	[Code] [smallint] NOT NULL,
 CONSTRAINT [PK_Country] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Direction]    Script Date: 29.09.2023 14:38:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Direction](
	[Title] [nvarchar](150) NOT NULL,
	[Id] [int] IDENTITY(1,1) NOT NULL,
 CONSTRAINT [PK_Direction] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Events]    Script Date: 29.09.2023 14:38:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Events](
	[Event] [nvarchar](250) NOT NULL,
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Date] [date] NOT NULL,
	[Day] [tinyint] NOT NULL,
	[CityId] [int] NOT NULL,
 CONSTRAINT [PK_Events] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EventType]    Script Date: 29.09.2023 14:38:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EventType](
	[EventTypeName] [nvarchar](150) NOT NULL,
	[Id] [int] IDENTITY(1,1) NOT NULL,
 CONSTRAINT [PK_EventType] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Gender]    Script Date: 29.09.2023 14:38:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Gender](
	[Gender] [nvarchar](15) NOT NULL,
	[Id] [int] IDENTITY(1,1) NOT NULL,
 CONSTRAINT [PK_Gender] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Member]    Script Date: 29.09.2023 14:38:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Member](
	[Surname] [nvarchar](50) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[Patronymic] [nvarchar](50) NULL,
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Email] [varchar](150) NOT NULL,
	[DateOfBirth] [date] NOT NULL,
	[CountryId] [int] NOT NULL,
	[PhoneNumber] [varchar](16) NOT NULL,
	[Password] [nvarchar](50) NOT NULL,
	[Photo] [nvarchar](150) NULL,
	[GenderId] [int] NOT NULL,
 CONSTRAINT [PK_Member] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Moderator]    Script Date: 29.09.2023 14:38:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Moderator](
	[Surname] [nvarchar](50) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[Patronymic] [nvarchar](50) NULL,
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[GenderId] [int] NOT NULL,
	[Email] [varchar](150) NOT NULL,
	[DateOfBirth] [date] NOT NULL,
	[CountryId] [int] NOT NULL,
	[PhoneNumber] [varchar](16) NOT NULL,
	[DirectionId] [int] NOT NULL,
	[EventTypeId] [int] NOT NULL,
	[Password] [nvarchar](50) NOT NULL,
	[Photo] [nvarchar](150) NULL,
 CONSTRAINT [PK_Moderator] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Organizer]    Script Date: 29.09.2023 14:38:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Organizer](
	[Surname] [nvarchar](50) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[Patronymic] [nvarchar](50) NULL,
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Email] [varchar](150) NOT NULL,
	[DateOfBirth] [date] NOT NULL,
	[CountryId] [int] NOT NULL,
	[PhoneNumber] [varchar](16) NOT NULL,
	[Password] [nvarchar](50) NOT NULL,
	[Photo] [nvarchar](150) NULL,
	[GenderId] [int] NOT NULL,
 CONSTRAINT [PK_Organizer] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Winners]    Script Date: 29.09.2023 14:38:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Winners](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[MemberId] [int] NOT NULL,
	[EventsId] [int] NOT NULL,
 CONSTRAINT [PK_Winners] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Activity] ON 

INSERT [dbo].[Activity] ([EventsId], [Title], [Id], [Day], [StartTime], [ModeratorId]) VALUES (3, N'Лидерство в бизнесе', 1, 1, CAST(N'09:00:00' AS Time), 1)
INSERT [dbo].[Activity] ([EventsId], [Title], [Id], [Day], [StartTime], [ModeratorId]) VALUES (3, N'Технология принятия решений', 2, 2, CAST(N'10:45:00' AS Time), 2)
INSERT [dbo].[Activity] ([EventsId], [Title], [Id], [Day], [StartTime], [ModeratorId]) VALUES (3, N'Искусство коучинга', 3, 2, CAST(N'12:30:00' AS Time), 3)
SET IDENTITY_INSERT [dbo].[Activity] OFF
GO
SET IDENTITY_INSERT [dbo].[AdjucatorActivity] ON 

INSERT [dbo].[AdjucatorActivity] ([Id], [ActivityId], [AdjudicatorId]) VALUES (1, 1, 1)
INSERT [dbo].[AdjucatorActivity] ([Id], [ActivityId], [AdjudicatorId]) VALUES (2, 2, 2)
INSERT [dbo].[AdjucatorActivity] ([Id], [ActivityId], [AdjudicatorId]) VALUES (3, 3, 3)
GO
SET IDENTITY_INSERT [dbo].[AdjucatorActivity] OFF
GO
SET IDENTITY_INSERT [dbo].[Adjudicator] ON 

INSERT [dbo].[Adjudicator] ([Surname], [Name], [Patronymic], [Id], [GenderId], [Email], [DateOfBirth], [CountryId], [PhoneNumber], [DirectionId], [Password], [Photo]) VALUES (N'Галкина', N'Верона', N'Васильевна', 1, 2, N'obuckridge@sipes.com', CAST(N'1969-05-18' AS Date), 35, N'78805446183', 3, N'HHikbP', N'foto21.jpg')
INSERT [dbo].[Adjudicator] ([Surname], [Name], [Patronymic], [Id], [GenderId], [Email], [DateOfBirth], [CountryId], [PhoneNumber], [DirectionId], [Password], [Photo]) VALUES (N'Герасимова', N'Айлин', N'Ефимовна', 2, 2, N'loraine.aufderhar@johnston.info', CAST(N'1966-06-09' AS Date), 53, N'78354786160', 3, N'TuhRzy', N'foto22.jpg')
INSERT [dbo].[Adjudicator] ([Surname], [Name], [Patronymic], [Id], [GenderId], [Email], [DateOfBirth], [CountryId], [PhoneNumber], [DirectionId], [Password], [Photo]) VALUES (N'Большаков', N'Августин', N'Алексеевич', 3, 1, N'juanita.kuvalis@yahoo.com', CAST(N'1978-07-12' AS Date), 52, N'71737705513', 1, N'4Y83lz', N'foto23.jpg')
SET IDENTITY_INSERT [dbo].[Adjudicator] OFF
GO
SET IDENTITY_INSERT [dbo].[City] ON 

INSERT [dbo].[City] ([Title], [Id]) VALUES (N'Абаза', 1)
INSERT [dbo].[City] ([Title], [Id]) VALUES (N'Абакан', 2)
INSERT [dbo].[City] ([Title], [Id]) VALUES (N'Абдулино', 3)
GO
SET IDENTITY_INSERT [dbo].[City] OFF
GO
INSERT [dbo].[Country] ([Id], [RussianTitle], [EnglishTitle], [LetterCode], [Code]) VALUES (1, N'Абхазия', N'Abkhazia', N'AB', 895)
INSERT [dbo].[Country] ([Id], [RussianTitle], [EnglishTitle], [LetterCode], [Code]) VALUES (2, N'Австралия', N'Australia', N'AU', 36)
INSERT [dbo].[Country] ([Id], [RussianTitle], [EnglishTitle], [LetterCode], [Code]) VALUES (3, N'Австрия', N'Austria', N'AT', 40)
GO
SET IDENTITY_INSERT [dbo].[Direction] ON 

INSERT [dbo].[Direction] ([Title], [Id]) VALUES (N'ИТ', 1)
INSERT [dbo].[Direction] ([Title], [Id]) VALUES (N'Биг Дата', 2)
INSERT [dbo].[Direction] ([Title], [Id]) VALUES (N'Дизайн', 3)
SET IDENTITY_INSERT [dbo].[Direction] OFF
GO
SET IDENTITY_INSERT [dbo].[Events] ON 

INSERT [dbo].[Events] ([Event], [Id], [Date], [Day], [CityId]) VALUES (N'Всероссийский хакатон neuromedia 2017 по разработке продуктов на стыке информационных технологий, медиа и нейронных сетей ', 1, CAST(N'2022-10-26' AS Date), 1, 34)
INSERT [dbo].[Events] ([Event], [Id], [Date], [Day], [CityId]) VALUES (N'Встреча #3 клуба ITBizRadio на тему:  «уборка» — выкидываем ненужные навыки, инструменты и ограничения» ', 2, CAST(N'2022-07-14' AS Date), 3, 34)
INSERT [dbo].[Events] ([Event], [Id], [Date], [Day], [CityId]) VALUES (N'Встреча клуба «Leader stories»: Мотивирующее руководство ', 3, CAST(N'2023-11-09' AS Date), 2, 2)
SET IDENTITY_INSERT [dbo].[Events] OFF
GO
SET IDENTITY_INSERT [dbo].[EventType] ON 

INSERT [dbo].[EventType] ([EventTypeName], [Id]) VALUES (N'IT в бизнесе', 1)
INSERT [dbo].[EventType] ([EventTypeName], [Id]) VALUES (N'Разработка приложений', 2)
INSERT [dbo].[EventType] ([EventTypeName], [Id]) VALUES (N'IT-инфраструктура', 3)
SET IDENTITY_INSERT [dbo].[EventType] OFF
GO
SET IDENTITY_INSERT [dbo].[Gender] ON 

INSERT [dbo].[Gender] ([Gender], [Id]) VALUES (N'мужской', 1)
INSERT [dbo].[Gender] ([Gender], [Id]) VALUES (N'женский', 2)
SET IDENTITY_INSERT [dbo].[Gender] OFF
GO
SET IDENTITY_INSERT [dbo].[Member] ON 

INSERT [dbo].[Member] ([Surname], [Name], [Patronymic], [Id], [Email], [DateOfBirth], [CountryId], [PhoneNumber], [Password], [Photo], [GenderId]) VALUES (N'Ершова', N'Нора', N'Федотовна', 1, N'techie@outlook.com', CAST(N'1987-03-26' AS Date), 71, N'79604240711', N'tKKevv8%', N'foto60.jpg', 2)
INSERT [dbo].[Member] ([Surname], [Name], [Patronymic], [Id], [Email], [DateOfBirth], [CountryId], [PhoneNumber], [Password], [Photo], [GenderId]) VALUES (N'Афанасьева', N'Жанна', N'Валентиновна', 2, N'agapow@yahoo.com', CAST(N'1988-01-04' AS Date), 34, N'79306616931', N'huSfHm4$', N'foto61.jpg', 2)
INSERT [dbo].[Member] ([Surname], [Name], [Patronymic], [Id], [Email], [DateOfBirth], [CountryId], [PhoneNumber], [Password], [Photo], [GenderId]) VALUES (N'Крылова', N'Рая', N'Всеволодовна', 3, N'chaikin@yahoo.ca', CAST(N'1988-04-05' AS Date), 73, N'79572656068', N'TlUwMw77%', N'foto62.jpg', 2)
SET IDENTITY_INSERT [dbo].[Member] OFF
GO
SET IDENTITY_INSERT [dbo].[Moderator] ON 

INSERT [dbo].[Moderator] ([Surname], [Name], [Patronymic], [Id], [GenderId], [Email], [DateOfBirth], [CountryId], [PhoneNumber], [DirectionId], [EventTypeId], [Password], [Photo]) VALUES (N'Царева', N'Виктория', N'Давидовна', 1, 2, N'iunhxq41tgr5@tutanota.com', CAST(N'1988-07-03' AS Date), 33, N'75671037332', 1, 1, N'FYi396Dd5u', N'foto9.jpg')
INSERT [dbo].[Moderator] ([Surname], [Name], [Patronymic], [Id], [GenderId], [Email], [DateOfBirth], [CountryId], [PhoneNumber], [DirectionId], [EventTypeId], [Password], [Photo]) VALUES (N'Зорин', N'Дмитрий', N'Маркович', 2, 1, N'ofdt4z1bijq0@tutanota.com', CAST(N'1993-09-07' AS Date), 57, N'7796440106', 1, 1, N'7gi7E8K4Ng', N'foto10.jpg')
INSERT [dbo].[Moderator] ([Surname], [Name], [Patronymic], [Id], [GenderId], [Email], [DateOfBirth], [CountryId], [PhoneNumber], [DirectionId], [EventTypeId], [Password], [Photo]) VALUES (N'Зотова', N'Анна', N'Тимуровна', 3, 2, N'ac6yxzg7rl5k@mail.com', CAST(N'1990-09-21' AS Date), 11, N'74886431998', 2, 2, N'3L3eA5eEg3', N'foto8.jpg')
SET IDENTITY_INSERT [dbo].[Moderator] OFF
GO
SET IDENTITY_INSERT [dbo].[Organizer] ON 

INSERT [dbo].[Organizer] ([Surname], [Name], [Patronymic], [Id], [Email], [DateOfBirth], [CountryId], [PhoneNumber], [Password], [Photo], [GenderId]) VALUES (N'Васильев', N'Всеволод', N'Давидович', 1, N'6z92wongmash@tutanota.com', CAST(N'1988-10-16' AS Date), 51, N'73549035367', N'Ke22Yh8Pp7', N'foto1.jpg', 1)
INSERT [dbo].[Organizer] ([Surname], [Name], [Patronymic], [Id], [Email], [DateOfBirth], [CountryId], [PhoneNumber], [Password], [Photo], [GenderId]) VALUES (N'Новиков', N'Фёдор', N'Макарович', 2, N'jkp23vlzsqei@gmail.com', CAST(N'1980-08-03' AS Date), 33, N'765629250177', N'Tj78jXeH68', N'foto2.jpg', 1)
INSERT [dbo].[Organizer] ([Surname], [Name], [Patronymic], [Id], [Email], [DateOfBirth], [CountryId], [PhoneNumber], [Password], [Photo], [GenderId]) VALUES (N'Фролова', N'Владислава', N'Савельевна', 3, N'dncmxp1vqr4t@tutanota.com', CAST(N'1999-07-13' AS Date), 43, N'7129813356', N'DF9a8cJf82', N'foto3.jpg', 2)
SET IDENTITY_INSERT [dbo].[Organizer] OFF
GO
SET IDENTITY_INSERT [dbo].[Winners] ON 

INSERT [dbo].[Winners] ([Id], [MemberId], [EventsId]) VALUES (1, 1, 1)
INSERT [dbo].[Winners] ([Id], [MemberId], [EventsId]) VALUES (2, 2, 2)
INSERT [dbo].[Winners] ([Id], [MemberId], [EventsId]) VALUES (3, 3, 3)
SET IDENTITY_INSERT [dbo].[Winners] OFF
GO
ALTER TABLE [dbo].[Activity]  WITH CHECK ADD  CONSTRAINT [FK_Activity_Events] FOREIGN KEY([EventsId])
REFERENCES [dbo].[Events] ([Id])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Activity] CHECK CONSTRAINT [FK_Activity_Events]
GO
ALTER TABLE [dbo].[Activity]  WITH CHECK ADD  CONSTRAINT [FK_Activity_Moderator] FOREIGN KEY([ModeratorId])
REFERENCES [dbo].[Moderator] ([Id])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Activity] CHECK CONSTRAINT [FK_Activity_Moderator]
GO
ALTER TABLE [dbo].[AdjucatorActivity]  WITH CHECK ADD  CONSTRAINT [FK_AdjucatorActivity_Activity] FOREIGN KEY([ActivityId])
REFERENCES [dbo].[Activity] ([Id])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AdjucatorActivity] CHECK CONSTRAINT [FK_AdjucatorActivity_Activity]
GO
ALTER TABLE [dbo].[AdjucatorActivity]  WITH CHECK ADD  CONSTRAINT [FK_AdjucatorActivity_Adjudicator] FOREIGN KEY([AdjudicatorId])
REFERENCES [dbo].[Adjudicator] ([Id])
GO
ALTER TABLE [dbo].[AdjucatorActivity] CHECK CONSTRAINT [FK_AdjucatorActivity_Adjudicator]
GO
ALTER TABLE [dbo].[Adjudicator]  WITH CHECK ADD  CONSTRAINT [FK_Adjudicator_Country] FOREIGN KEY([CountryId])
REFERENCES [dbo].[Country] ([Id])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Adjudicator] CHECK CONSTRAINT [FK_Adjudicator_Country]
GO
ALTER TABLE [dbo].[Adjudicator]  WITH CHECK ADD  CONSTRAINT [FK_Adjudicator_Direction] FOREIGN KEY([DirectionId])
REFERENCES [dbo].[Direction] ([Id])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Adjudicator] CHECK CONSTRAINT [FK_Adjudicator_Direction]
GO
ALTER TABLE [dbo].[Adjudicator]  WITH CHECK ADD  CONSTRAINT [FK_Adjudicator_Gender] FOREIGN KEY([GenderId])
REFERENCES [dbo].[Gender] ([Id])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Adjudicator] CHECK CONSTRAINT [FK_Adjudicator_Gender]
GO
ALTER TABLE [dbo].[Events]  WITH CHECK ADD  CONSTRAINT [FK_Events_City] FOREIGN KEY([CityId])
REFERENCES [dbo].[City] ([Id])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Events] CHECK CONSTRAINT [FK_Events_City]
GO
ALTER TABLE [dbo].[Member]  WITH CHECK ADD  CONSTRAINT [FK_Member_Country] FOREIGN KEY([CountryId])
REFERENCES [dbo].[Country] ([Id])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Member] CHECK CONSTRAINT [FK_Member_Country]
GO
ALTER TABLE [dbo].[Member]  WITH CHECK ADD  CONSTRAINT [FK_Member_Gender] FOREIGN KEY([GenderId])
REFERENCES [dbo].[Gender] ([Id])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Member] CHECK CONSTRAINT [FK_Member_Gender]
GO
ALTER TABLE [dbo].[Moderator]  WITH CHECK ADD  CONSTRAINT [FK_Moderator_Country] FOREIGN KEY([CountryId])
REFERENCES [dbo].[Country] ([Id])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Moderator] CHECK CONSTRAINT [FK_Moderator_Country]
GO
ALTER TABLE [dbo].[Moderator]  WITH CHECK ADD  CONSTRAINT [FK_Moderator_Direction] FOREIGN KEY([DirectionId])
REFERENCES [dbo].[Direction] ([Id])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Moderator] CHECK CONSTRAINT [FK_Moderator_Direction]
GO
ALTER TABLE [dbo].[Moderator]  WITH CHECK ADD  CONSTRAINT [FK_Moderator_EventType] FOREIGN KEY([EventTypeId])
REFERENCES [dbo].[EventType] ([Id])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Moderator] CHECK CONSTRAINT [FK_Moderator_EventType]
GO
ALTER TABLE [dbo].[Moderator]  WITH CHECK ADD  CONSTRAINT [FK_Moderator_Gender] FOREIGN KEY([GenderId])
REFERENCES [dbo].[Gender] ([Id])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Moderator] CHECK CONSTRAINT [FK_Moderator_Gender]
GO
ALTER TABLE [dbo].[Organizer]  WITH CHECK ADD  CONSTRAINT [FK_Organizer_Country] FOREIGN KEY([CountryId])
REFERENCES [dbo].[Country] ([Id])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Organizer] CHECK CONSTRAINT [FK_Organizer_Country]
GO
ALTER TABLE [dbo].[Organizer]  WITH CHECK ADD  CONSTRAINT [FK_Organizer_Gender] FOREIGN KEY([GenderId])
REFERENCES [dbo].[Gender] ([Id])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Organizer] CHECK CONSTRAINT [FK_Organizer_Gender]
GO
ALTER TABLE [dbo].[Winners]  WITH CHECK ADD  CONSTRAINT [FK_Winners_Events] FOREIGN KEY([EventsId])
REFERENCES [dbo].[Events] ([Id])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Winners] CHECK CONSTRAINT [FK_Winners_Events]
GO
ALTER TABLE [dbo].[Winners]  WITH CHECK ADD  CONSTRAINT [FK_Winners_Member] FOREIGN KEY([MemberId])
REFERENCES [dbo].[Member] ([Id])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Winners] CHECK CONSTRAINT [FK_Winners_Member]
GO
USE [master]
GO
